@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.invest-button {
    padding: 17px 49px;
    width: fit-content;
    cursor: pointer;
    font-family: variables.$font-family-second;
    font-weight: 900;
    font-size: 18px;
    line-height: 1.45em;
    letter-spacing: -1px;
    color: variables.$color-main-white;
    border-radius: 6px;
    border: 1px solid transparent;
    background: 
    linear-gradient(99deg, #7a42f4 0%, #4642f4 100%) padding-box, 
    linear-gradient(98.56deg, rgba(255, 255, 255, 0.56) 17.9%, rgba(255, 255, 255, 0) 66.11%) border-box;
        @include respond-to(sm) {
            padding: 12px 43px;
            letter-spacing: -1.9px;
        }
}

.main-recources__button {
    margin-top: 70px;
    margin-left: 49px;
    padding: 17px 31px;
    font-size: 17.4px;
        @include respond-to(lg) {
        margin-top: 28px;
        padding: 17px 35px;
        }

        @include respond-to(sm) {
        margin-top: 28px;
        padding: 17px 34px;
        letter-spacing: -1.1px;
        margin-left: -4px;
        }
}

.main-game__button {
    margin-left: 8px;
    letter-spacing: -2px;
    font-size: 17.6px;
    padding: 16px 39px;
        @include respond-to(sm) {
            margin-left: 0px;
            margin-bottom: 40px;
        }
}

.main-explore__button {
    margin-left: -4px;
    margin-top: 42px;
    padding: 15px 40px;
    letter-spacing: -2.4px;
        @include respond-to(lg) {
        margin-left: -2px;
        margin-top: 37px;
        padding: 15px 38px;
        }
}

.main-studio__button {
    margin-top: 34px;
    letter-spacing: -2.09px;
    padding: 17px 58px;
        @include respond-to(sm) {
            margin-top: 25px;
        }
}