@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.mobile-menu {
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: 0.4s ease;
    z-index: -1;
    pointer-events: none;
        &.active {
        pointer-events: all;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
        &-nav {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-top: 122px;
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-medium;
            font-size: 20px;
            line-height: 1.4em;
            padding: 18px 20px;
            letter-spacing: -0.29px;
                &__link {
                position: relative;
                text-decoration: none;        
                color: variables.$color-main-white;
                opacity: 0.7;
                    &.active::before {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        width: 110%;
                        height: 2px;
                        background: linear-gradient(90deg, #00DBDE, #00DBDE);
                        border-radius: 2px;
                    }
                    @media (hover: hover) and (pointer: fine) {
                        &:hover {
                            opacity: 1;
                        }
                    }
                    @media (hover: none) and (pointer: coarse) {
                        &:active,
                        &:focus {
                            opacity: 1;
                        }
                    }
                }
        }
        &-background {
            position: absolute;
            width: 100%;
            height: 100%;
            object-position: 25% 30%;
            object-fit: cover;
            z-index: -1;
        }
}