@keyframes flow {
  0% { stroke-dashoffset: 0; }
  100% { stroke-dashoffset: -400; }
}

//roadmap

@keyframes corePulse {
  0%, 100% { 
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
    filter: brightness(1.2) contrast(1.3);
  }
  50% { 
    transform: translate(-50%, -50%) scale(1.15);
    opacity: 1;
    filter: brightness(1.8) contrast(1.6);
  }
}

@keyframes brightnessWave {
  0%, 100% { filter: brightness(1.2) contrast(1.3); }
  25% { filter: brightness(1.5) contrast(1.4); }
  50% { filter: brightness(1.8) contrast(1.6); }
  75% { filter: brightness(1.3) contrast(1.5); }
}

@keyframes middlePulse {
  0%, 100% { 
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.7;
  }
  50% { 
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0.9;
  }
}

@keyframes glowShiftPurple {
  0% { box-shadow: 0 0 20px rgba(255, 151, 255, 0.4); }
  100% { box-shadow: 0 0 35px rgba(255, 151, 255, 0.8); }
}
@keyframes glowShiftGreen {
  0% { box-shadow: 0 0 20px rgba(68, 255, 199, 0.4) }
  100% { box-shadow: 0 0 35px rgba(68, 255, 199, 0.8) }
}

@keyframes glowShiftBlue {
  0% { box-shadow: 0 0 20px rgb(40, 99, 191, 0.4)}
  100% { box-shadow: 0 0 35px rgb(40, 99, 19, 0.8) }
}

@keyframes outerPulse {
  0%, 100% { 
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  50% { 
    transform: translate(-49%, -49%) scale(1.05);
    opacity: 0.8;
  }
}

@keyframes ringRotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes energySurge {
  0%, 100% { 
    opacity: 0.4;
    filter: blur(0px);
  }
  50% { 
    opacity: 0.7;
    filter: blur(1px);
  }
}


@keyframes deepPulse {
  0%, 100% { 
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.3;
  }
  50% { 
    transform: translate(-50%, -50%) scale(1.03);
    opacity: 0.5;
  }
}

@keyframes outerRingRotate {
  0% { transform:  rotate(0deg); }
  100% { transform: rotate(-360deg); }
}

@keyframes flashlightGlow {
  0%, 100% { 
    filter: drop-shadow(0 0 10px rgba(255, 151, 255, 0.3));
  }
  50% { 
    filter: drop-shadow(0 0 25px rgba(255, 151, 255, 0.7));
  }
}

@keyframes flashlightGlowGreen {
  0%, 100% { 
    filter: drop-shadow(0 0 10px rgba(68, 255, 199, 0.4));
  }
  50% { 
    filter: drop-shadow(0 0 25px rgba(68, 255, 199, 0.8));
  }
}

@keyframes flashlightGlowBlue {
  0%, 100% { 
    filter: drop-shadow(0 0 10px rgba(68, 255, 244, 0.4));
  }
  50% { 
    filter: drop-shadow(0 0 25px rgba(68, 255, 244, 0.8));
  }
}


    @keyframes bannerBig {
    from { transform: translateX(0) rotate(-9deg); }
    to   { transform: translateX(-50%) rotate(-9deg); }
    }