@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;


.main-game {
    position: relative;
    // height: 1069px;
    &__wrapper {
    padding-top: 100px;
    padding-bottom: 290px;
        @include respond-to(sm) {
        padding-top: 100px;
        padding-bottom: 600px;
        }
    }
    &__content {
    position: relative;
    max-width: 644px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 260px;
    backdrop-filter: blur(15px);
        @include respond-to(sm) {
            margin-top: -100px;
        }
            &::after {
            content: "";
            position: absolute;
            z-index: 1;
            pointer-events: none;
            height: 140%;
            inset: 0;
            top: 6px;
            left: 7px;
            z-index: 1;
            opacity: 0.4;
            background: 
            repeating-linear-gradient(to left, transparent 0px, transparent 15px, 
            #A034D957 16px, #A034D957 17px);
            mask: linear-gradient(180deg, black 0%, transparent 100%);
            -webkit-mask: linear-gradient(180deg, black 0%, transparent 100%);
            @include respond-to(sm) {
            left: 15px;
            top: 35px;
            }
            }
            &::before {
            content: '';
            position: absolute;
            border-top: 6px solid #56FFEB;
            width: 100%;
            top: 0px;
            left: 6px;
            @include respond-to(sm) {
                top: 29px;
                left: 20px;
                width: 90%;
            }
            }
        &-title {
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-bold;
        font-size: 45px;
        line-height: 1.09em;
        text-align: center;
        text-transform: uppercase;
        color: white;
        margin-top: 70px;
        margin-bottom: 30px;
        margin-left: 10px;
            @include respond-to(sm) {
                font-size: 28px;
                margin-bottom: 18px;
            }
        }
        &-phrase {
        font-family: variables.$font-family-main;
        font-weight: variables.$font-weight-regular;
        font-size: 20px;
        line-height: 1.6em;
        text-align: center;
        color: white;
        opacity: 0.7;
        margin-bottom: 45px;
        max-width: 590px;
        margin-left: 36px;
        letter-spacing: 0.11px;
            @include respond-to(sm) {
                font-size: 16px;
                max-width: 350px;
                margin-bottom: 35px;
                letter-spacing: -0.29px;
            }
        }
    }
    &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: repeat;
    z-index: -5;
        @include respond-to(sm) {
            display: none;
        }

        &-mobile {
            display: none;
                @include respond-to(sm) {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-repeat: repeat;
                z-index: -5;
                object-position: 30% 100%;
                }
        }
    }

    &__img {
        &-character-1 {
        position: absolute;
        right: 7.7vw;
        bottom: 7.9vh;
            @include respond-to(l) {
                width: 25%;
            }
            @include respond-to(lg) {
                right: 5vw;
                bottom: 9vh;
            }
            @include respond-to(sm) {
                right: 32vw;
                bottom: 10.7vh;
                width: 77%;
            }
        }
        &-character-2 {
        position: absolute;
        left: 8.5vw;
        bottom: 11vh;
            @include respond-to(l) {
                width: 25%;
            }
            @include respond-to(lg) {
                left: 4vw;
                bottom: 4vh;
            }
            @include respond-to(sm) {
                left: unset;
                right: 0vw;
                bottom: 20vh;
                width: 57%;
            }

        }
    }
    &-icon-star {
        position: absolute;
        width: 46px;
        height: 46px;
        top: 75px;
        right: -30px;
            @include respond-to(sm) {
                display: none;
            }
    }
}

