@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;


.main-team {
    position: relative;
    background-color: #0A0117;
    padding-top: 145px;
    padding-bottom: 200px;
    z-index: 1;
    overflow: hidden;
        @include respond-to(md) {
            padding-top: 95px;
            padding-bottom: 140px;
        }
    &__wrapper {
        padding: 0px 139px;
        padding-right: 125px;
        @include respond-to(l) {
            padding: 0 20px;
        }
        @include respond-to(sm) {
            padding: 0 24px;
            padding-right: 20px;
        }
    }

    &-headline {
        color: #FFFFFF;
        font-family: variables.$font-family-third;
        font-weight: variables.$font-weight-medium;
        font-size: 20px;
        line-height: 1.4em;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 18px;
            @include respond-to(md) {
                font-size: 16px;
            }
    }
    &-title {
        color: #FFFFFF;
        font-family: variables.$font-family-second;
        font-weight: variables.$font-weight-bold;
        font-size: 45px;
        line-height: 1.1em;
        text-align: center;
        text-transform: uppercase;
            @include respond-to(md) {
                font-size: 28px;
            }
    }

    &__lines-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -5;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        margin-top: 34px;
            @include respond-to(l) {
                gap: 40px;
            }
            @include respond-to(lg) {
                gap: 40px;
                flex-wrap: wrap;
                max-width: 880px;
                margin: 0 auto;
                margin-top: 40px;
            }
            @include respond-to(md) {
                margin-top: 60px;
            }
            @include respond-to(sm) {
                gap: 64px;
            }
    }

    &__person {
        display: flex;
        flex-direction: column;
        height: 700px;
            @include respond-to(md) {
                height: 600px;
            }
            @include respond-to(sm) {
                height: unset;
            }
            &-role {
            font-family: variables.$font-family-main;
            font-weight: variables.$font-weight-regular;
            font-size: 16px;
            line-height: 1.4em;
            text-align: center;
            color: white;
            }
            &-name {
            font-family: variables.$font-family-second;
            font-weight: variables.$font-weight-bold;
            font-size: 45px;
            line-height: 1.4em;
            text-align: center;
            text-transform: uppercase;
            color: #56FFEB;
            }

            &-socials {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 14.4px;
                margin-top: 0px;
                max-height: 0;
                // display: none;
                opacity: 0;
                transition: 
                    all 0.3s ease;

                &-link {
                    display: block;
                    width: 48px;
                    height: 48px;
                    border: 1px solid #FFFFFF33;
                    border-radius: 17px;
                    display: flex;
                    pointer-events: all;
                    justify-content: center;
                    align-items: center;
                    pointer-events: none;
                        @media (hover: hover) {
                        &:hover {
                            transform: scale(1.1);
                            opacity: .8;
                            background-color: rgba(245, 245, 245, 0.11);
                        }
                    }
                }
            }
            &.active {
                .main-team__person-socials {
                    max-height: 100px;
                    opacity: 1;
                    margin-top: 16px;
                    &-link {
                        pointer-events: all;
                    }
                }
            }
    }

    &__person.person-1 {
        .main-team__person-image {
            margin-top: 22px;
                @include respond-to(md) {
                    margin-top: 0;
                }
        }
        .main-team__person-role {
            margin-top: 22px;
        }
        .main-team__person-socials {
            justify-content: unset;
            gap: 14.4px;
            margin-left: 21px;
            margin-top: 16px;
        }
        
    }
    &__person.person-2 {
        .main-team__person-name {
            color: #2C4DFF;
        }
        .main-team__person-role {
            margin-left: -11px;
            margin-top: 42px;
            letter-spacing: -0.19px;
        }
        .main-team__person-image {
            margin-top: 25px;
            @include respond-to(md) {
                display: none;
            }
        }
        .main-team__person-image-mobile {
            display: none;
            @include respond-to(md) {
                display: block;
            }
        }
    }
    &__person.person-3 {
        .main-team__person-image {
            margin-top: 151px;
                @include respond-to(md) {
                    margin-top: 0;
                }
        }
        .main-team__person-name {
            color: #BF3AFF;
        }
        .main-team__person-role {
            margin-top: 30px;
            margin-left: -12px;
        }
    }
    &__person.person-4 {
        position: relative;
        .main-team__person-name {
            color: #FB41FF;
            margin-left: -27px;
                @include respond-to(md) {
                margin-left: -4px;
                }
        }
        .main-team__person-role {
            margin-top: 49px;
            margin-left: -37px;
                @include respond-to(md) {
                margin-top: 19px;
                }
                @include respond-to(sm) {
                margin-top: 34px;
                margin-left: -13px;
                }
        }
        .main-team__person-image-wrapper {
            position: relative;
            margin-top: 11px;
            img {
                width: 100%;
            }
            @include respond-to(md) {
                display: none;
            }
        }
        .main-team__person-image-wrapper-mobile {
            display: none;
                @include respond-to(md) {
                    display: block;
                }
        }
        .main-team__person-socials {
            margin-bottom: 10px;
        }
    }

    &-icon{
        width: 20px;
        height: 20px;
    }
    &-icon-star {
        width: 46px;
        height: 46px;
        position: absolute;
        bottom: -4%;
        left: 46%;
            @include respond-to(md) {
            bottom: 28%;
            left: 74%;
            }
    }

    &__blur-blue {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        pointer-events: none;
    }
    
    &__blur-pink {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -2;
        pointer-events: none;
    }

    &__roadlines {
        position: absolute;
        top: 5px;
        left: 50.5%;
        transform: translateX(-50%);
        width: 100%;
        min-height: 1600px;
        pointer-events: none;
        overflow: visible;
        z-index: -10;
            & .line {
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            height: 950px;
            }

            & .main-team-line-1 {
                top: 12%;
            }
            & .main-team-line-2 {
                top: 14%;
            }
            & .main-team-line-3 {
                top: 16%;
            }
    }
}