@use "@scss/utils/variables";
@use '@scss/utils/mixins' as *;

.main-media {
    position: relative;
    background-color: #0A0117;
    padding-top: 164px;
    padding-bottom: 463px;
    overflow: hidden;
    z-index: 0;
        @include respond-to(sm) {
            padding-top: 63px;
            padding-bottom: 233px;
        }
    &__wrapper {
        padding: 0 140px;
            @include respond-to(l) {
                padding: 0 80px;
            }
            @include respond-to(sm) {
                padding: 0 20px;
            }
    }

    &__headline {
    font-family: variables.$font-family-main;
    font-weight: variables.$font-weight-regular;
    font-size: 20px;
    line-height: 1.4em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
        @include respond-to(sm) {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    &__title {
    font-family: variables.$font-family-second;
    font-weight: variables.$font-weight-bold;
    font-size: 45px;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 86px;
        @include respond-to(sm) {
            font-size: 28px;
            margin-bottom: 52px;
        }
    }

    &__swiper {
        &-wrapper {
            display: flex;
            flex-direction: row;
            width: fit-content !important;
            margin: 0 auto;
        }
        &-slide {
            width: fit-content !important;
        }
        &-link {
            &__icon-star {
                position: absolute;
                width: 46px;
                height: 46px;
                left: 25%;
                top: 0;
            }
            img {
                @include respond-to(sm) {
                width: 213px;
                height: 284px;
                }
            }
        }
    }
    &__lines-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    }

    &__blur-1 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -6;
        @include respond-to(md) {
            display: none;
        }
    }

    &__blur-2 {
    position: absolute;
    left: 20%;
    top: 0;
    z-index: -6;
        @include respond-to(md) {
            display: none;
        }
    }

    &__blur-3 {
    position: absolute;
    right: 0;
    top: -250px;
    z-index: -6;
        @include respond-to(md) {
            right: -300px;
            top: -400px;
        }
    }
}