<div class="main-banners">
    <div class="main-banners__banner-big">
        <div class="main-banners__banner-big__outer">
            <div class="main-banners__banner-big__inner">
                <span>VR GAME MARKETPLACE</span>
                <span>VR GAME MARKETPLACE</span>
                <span>VR GAME MARKETPLACE</span>
                <span>VR GAME MARKETPLACE</span>
                <span>VR GAME MARKETPLACE</span>
                <span>VR GAME MARKETPLACE</span>
            </div>
            <div class="main-banners__banner-big__image">
                <img class="main-banners__banner-big-background" src="/img/components/banners/main-banners-big-background.png" alt="space background" loading="lazy">
                <img class="main-banners__banner-big-background-lines" src="/img/components/banners/main-banners-big-background-lines.png" alt="space background" loading="lazy">
            </div>
        </div>
    </div>

    <div class="main-banners__banner-small">
        <div class="main-banners__banner-small__outer">
            <div class="main-banners__banner-small__inner">
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
            </div>
        </div>
    </div>
</div>