<footer class="footer">
    <div class="footer__wrapper">
        <div class="footer__left">
            <svg class="footer__icon-star"><use href="#icon-global"></use></svg>
            <p>Based in US <br> Active worldwide</p>
        </div>
        <div class="footer__center">
            <div class="footer__center-content">
                <p>Contact</p>
            </div>
            <div class="footer__center-content">
                <p>Contact</p>
            </div>
        </div>
    </div>

    <img class="footer__blur-green" data-src="./img/components/footer/footer-blur-green.webp" alt="background purple" loading="lazy">
    <img class="footer__blur-blue" data-src="./img/components/footer/footer-blur-blue.webp" alt="background purple" loading="lazy">
    <img class="footer__blur-pink" data-src="./img/components/footer/footer-blur-pink.webp" alt="background purple" loading="lazy">
</footer>