<header class="header">
    <div class="header__wrapper">
        <a class="header__icon-link" href="index.html"><svg class="header__icon-logo"><use href="#icon-Logo"></use></svg></a>

        <ul class="header__nav">
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="home">Home</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="about-us">About us</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="white-paper">White paper</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="tokenomics">Tokenomics</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="roadmaps">Road Map</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="how-to-buy">How to buy</a></li>
            <li class="header__nav__item"><a href="index.html" class="header__nav__link" data-page="buy">Buy</a></li>
        </ul>
        <button class="header__menu__button-open">
            <span></span>
        </button>
    </div>
    {{> components/mobile-menu }}
</header>