<div class="mobile-menu">
    <img class="mobile-menu-background" data-src="./img/main/hero/main-hero-background.webp" alt="space background" loading="lazy">
    <ul class="mobile-menu-nav">
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="home">Home</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="about-us">About Us</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="white-paper">White paper</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="tokenomics">Tokenomics</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="roadmaps">Road Map</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="how-to-buy">How to buy</a></li>
        <li class="mobile-menu-nav__item"><a href="index.html" class="mobile-menu-nav__link" data-page="buy">Buy</a></li>
    </ul>
</div>