<section class="main-recources">
    <div class="main-recources__wrapper">
        <h3 class="main-recources__headline">What we do</h3>
        <h2 class="main-recources__title">Our resources</h2>
        <div class="main-recources__content-wrapper">
            <div class="main-recources__content">
                <a class="main-recources__content-link" href="index.html"><img class="main-recources__content__logo" data-src="/img/main/recources/main-recources-logo.png" alt="background purple" loading="lazy"></a>
                <p class="main-recources__content-title">About toKen $Cmeta</p>
                <p class="main-recources__content-phrase">CMETA, a BSC-based cryptocurrency token will be the sole governance token on the platform. This means that every single transaction in the Crafty Metaverse space will be conducted with the $CMETA token</p>
                {{> components/invest-button label="Play  (Coming Soon)" className="main-recources__button" }}
                <svg class="main-recources__icon-star"><use href="#icon-Star"></use></svg>
            </div>
            <div class="main-recources__stats-wrapper">
                <div class="main-recources__stats-content-1">
                    <div class="main-recources__stats-icon">
                    </div>
                    <div class="main-recources__stats-phrase">
                        <p>Circulating Supply:<br> 1,000,000,000</p>
                    </div>
                </div>

                <div class="main-recources__stats-content-2">
                    <div class="main-recources__stats-icon">
                    </div>
                    <div class="main-recources__stats-phrase">
                        <p>Maximum supply: <br> 1,000,000,000</p>
                    </div>
                </div>

                <div class="main-recources__stats-content-3">
                    <div class="main-recources__stats-icon">
                    </div>
                    <div class="main-recources__stats-phrase">
                        <p>Tax: 10% <br>
                            Marketing : 5% <br>
                            Development : 5%</p>
                    </div>
                </div>

                 <div class="main-recources__stats-content-4">
                    <div class="main-recources__stats-icon">
                    </div>
                    <div class="main-recources__stats-phrase">
                        <p>Token symbol: <br> $CMETA</p>
                    </div>
                </div> 
                <div class="main-recources__stats__img-wrapper"><img class="main-recources__stats__img" data-src="/img/main/recources/main-recources-image-logo.webp" alt="background purple" loading="lazy"></div>
            </div>
        </div>

    </div>
</section>