        <div class="main-faq__banner">

            <div class="main-banners__banner-small">
                <div class="main-banners__banner-small__outer">
                    <div class="main-banners__banner-small__inner">
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                        <p><span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE <span class="main-banners__banner-small__span"><svg class="main-banners__banner-small__icon-star"><use href="#icon-Star"></use></svg></span> CRAFTY METAVERSE</p>
                    </div>
                </div>
            </div>
        </div>


<section class="main-faq">

    <div class="main-faq__wrapper">
        <div class="main-faq__content">
            <h3 class="main-faq__headline">Questions</h3>
            <h2 class="faq__title">FAQ</h2>
            
            <div class="faq__item">
                <div class="faq__question">
                    <span>1. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__question">
                    <span>2. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__question">
                    <span>3. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__question">
                    <span>4. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__question">
                    <span>5. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>

            <div class="faq__item">
                <div class="faq__question">
                    <span>6. WHAT IS CMETA AND WHICH TOKENS WE USE?</span>
                    <span class="faq__toggle"></span>
                </div>
                <div class="faq__answer">
                    <p>Crafty Metaverse is a blockchain-based virtual reality metaverse platform focused on building a decentralized, persistent online 3D/VR environment that will allow interactions among humans in the form of Avatars.</p>
                </div>
            </div>
            
        </div>
    </div>

    <div class="main-faq__roadlines">
        {{!-- line-1 --}}
        <svg width="1920" height="853" viewBox="0 0 1920 853" class="line main-faq-line-1">
            <defs>
                <linearGradient id="g-faq-purple-1" x1="2546.74" y1="852.462" x2="-294.819" y2="49.806" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7A42F4"/>
                    <stop offset="0.0001" stop-color="#7A42F4"/>
                    <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
                </linearGradient>
            </defs>
            <path class="flow"
                opacity="0.7"
                stroke="url(#g-faq-purple-1)"
                stroke-width="4"
                stroke-dasharray="1 32"
                d="M2443.5 777.616L2326.39 660.508C2072.85 406.968 1661.78 406.968 1408.24 660.508C1154.7 914.048 743.633 914.048 490.093 660.508L-169.001 1.41431"
            />
        </svg>

        {{!-- line-2 --}}
        <svg width="1920" height="853" viewBox="0 0 1920 853" class="line main-faq-line-2">
            <defs>
                <linearGradient id="g-faq-purple-2" x1="2546.74" y1="852.462" x2="-294.819" y2="49.806" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7A42F4"/>
                    <stop offset="0.0001" stop-color="#7A42F4"/>
                    <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
                </linearGradient>
            </defs>
            <path class="flow"
                opacity="0.7"
                stroke="url(#g-faq-purple-2)"
                stroke-width="4"
                stroke-dasharray="1 32"
                d="M2443.5 777.616L2326.39 660.508C2072.85 406.968 1661.78 406.968 1408.24 660.508C1154.7 914.048 743.633 914.048 490.093 660.508L-169.001 1.41431"
            />
        </svg>

        {{!-- line-3 --}}
        <svg width="1920" height="853" viewBox="0 0 1920 853" class="line main-faq-line-3">
            <defs>
                <linearGradient id="g-faq-purple-3" x1="2546.74" y1="852.462" x2="-294.819" y2="49.806" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#7A42F4"/>
                    <stop offset="0.0001" stop-color="#7A42F4"/>
                    <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
                </linearGradient>
            </defs>
            <path class="flow"
                opacity="0.7"
                stroke="url(#g-faq-purple-3)"
                stroke-width="4"
                stroke-dasharray="1 32"
                d="M2443.5 777.616L2326.39 660.508C2072.85 406.968 1661.78 406.968 1408.24 660.508C1154.7 914.048 743.633 914.048 490.093 660.508L-169.001 1.41431"
            />
        </svg>
    </div>

    <img class="main-faq__blur-green" data-src="./img/main/faq/main-faq-blur-green.webp" alt="background purple" loading="lazy">
    <img class="main-faq__blur-pink" data-src="./img/main/faq/main-faq-blur-pink.webp" alt="background purple" loading="lazy">
</section>