<section class="main-game">
    <div class="main-game__wrapper">
        <div class="main-game__content">
            <p class="main-game__content-title">Game</p>
            <p class="main-game__content-phrase">The space will also offer avid gamers to be a part of an amazing 3D gaming experience (details to be published soon). <br> <br> Crafty Metaverse space will continuously evolve its 3D gaming space toinclude technologies such as VR headsets, augmented reality glasses, andgame consoles.</p>
            {{> components/invest-button label="Invest Now" className="main-game__button" }}
            <svg class="main-game-icon-star"><use href="#icon-Star"></use></svg>
        </div>
    </div>
        <img class="main-game__background" data-src="./img/main/game/main-game-background.webp" alt="space background" loading="lazy">
        <img class="main-game__background-mobile" data-src="./img/main/game/main-game-background-mobile.webp" alt="space background" loading="lazy">
        <img class="main-game__img-character-1" data-src="./img/main/game/main-game-character1.webp" alt="space background" loading="lazy">
        <img class="main-game__img-character-2" data-src="./img/main/game/main-game-character2.webp" alt="space background" loading="lazy">


</section>
