<section class="main-brands">
    <div class="main-brands__wrapper">
        <h3 class="main-brands__headline">NO PROMLEM</h3>
        <h2 class="main-brands__title">OUR BRANDS</h2>
        <div class="main-brands__gallery">
            {{!-- card-1 --}}
            <div class="main-brands__card">
                <div class="main-brands__card-img-wrapper">
                    <img class="main-brands__card-img" data-src="/img/main/brands/main-brands-card1.webp" alt="space background" loading="lazy">
                    <svg class="main-brands__card-icon-star"><use href="#icon-Star"></use></svg>
                </div>
                <div class="main-brands__card-content">
                    <p class="main-brands__card-title">Guardians of Lost Worlds (P2E Game)</p>
                    <p class="main-brands__card-phrase">Crafty Metaverse will soon launch Guardians of Lost Worlds, the first cross-chain P2E gaming experience. Our game will be available on multiple blockchains and then eventually on our side chain (SANKOFA). This will give users a seamless gameplay experience with little to no gas fees that allow users to focus on the game rather than worrying about losing their returns.</p>
                </div>
            </div>
            {{!-- card-2 --}}
            <div class="main-brands__card">
                <div class="main-brands__card-img-wrapper">
                    <img class="main-brands__card-img" data-src="/img/main/brands/main-brands-card2.webp" alt="space background" loading="lazy">
                </div>
                <div class="main-brands__card-content">
                    <p class="main-brands__card-title">Crafty Metaverse Ecosystem</p>
                    <p class="main-brands__card-phrase">Crafty Metaverse presents a Virtual Arts Studio where you can enhance your creativity by creating digital arts inspired by your game. A virtual marketplace to allow the users to trade and stake our $CMETA token and their NFTs. Negotiate with the digital avatars of other users to sell your NFTs at the best prices and generate passive income while playing</p>
                </div>
            </div>
            {{!-- card-3 --}}
            <div class="main-brands__card">
                <div class="main-brands__card-img-wrapper">
                    <img class="main-brands__card-img" data-src="/img/main/brands/main-brands-card3.webp" alt="space background" loading="lazy">
                </div>
                <div class="main-brands__card-content">
                    <p class="main-brands__card-title">SANKOFA</p>
                    <p class="main-brands__card-phrase">SANKOFA($KOFA) is an Ethereum sidechain that will be created with Guardians of Lost Worlds community in mind. LYQUID, the team behind Guardians of Lost Worlds, will build a reliable, fast and cheap network that could cater to the demands of the game.</p>
                </div>
            </div>

        </div>
        
        <div class="main-brands__card-blur-pink"><img class="main-brands-card-blur-img" data-src="/img/main/brands/main-brands-blur-pink.webp" alt="background purple" loading="lazy"></div>
        <div class="main-brands__card-blur-green"><img class="main-brands-card-blur-img" data-src="/img/main/brands/main-brands-blur-green.webp" alt="background purple" loading="lazy"></div>
        <div class="main-brands__card-blur-blue"><img class="main-brands-card-blur-img" data-src="/img/main/brands/main-brands-blur-blue.webp" alt="background purple" loading="lazy"></div>
    </div>
</section>