<section class="main-roadmap">
    <div class="main-roadmap__wrapper">
        <div class="main-roadmap__head-wrapper">
            <h2 class="main-roadmap__head-headline">OUR WAY</h2>
            <h1 class="main-roadmap__head-title">ROADMAP</h1>
        </div>
        <div class="main-roadmap__content-wrapper">
            {{!-- First --}}
            <div class="main-roadmap__content">
            <h3 class="main-roadmap__title">
            Q1<br>
            <span>Governance Token<br>Launch on BSC ($CMETA)</span>
            </h3>

            <ul class="main-roadmap__list">
                <li class="main-roadmap__list-item">
                    Launch Date: Jan 8th, 2022 Contract Audit
                </li>

                <li class="main-roadmap__list-item">
                    TechAudit Completed on Jan 21st, 2022<br>
                    5k Telegram members
                </li>

                <li class="main-roadmap__list-item">
                    32k Telegram Members. CG and CMC listings
                </li>

                <li class="main-roadmap__list-item">
                    Application Sent CEX Listings
                </li>

                <li class="main-roadmap__list-item">
                    CoinsBit Listing – Feb 8th. Website Revamp
                </li>

                <li class="main-roadmap__list-item">
                    Contracted UI/UX Developers
                </li>
            </ul>

            <button class="main-roadmap__morebtn" type="button">
                <span class="main-roadmap__morebtn-text">More</span>
                <span class="main-roadmap__morebtn-icon"></span>
            </button>
            </div>

            {{!-- Second --}}
            <div class="main-roadmap__content">
            <h3 class="main-roadmap__title">Q2<br><span>CMETA Ecosystem Begins</span></h3>
            <ul class="main-roadmap__list">
                <li class="main-roadmap__list-item">CMETA Staking Release</li>
                <li class="main-roadmap__list-item">SANKOFA Sidechain DEV Starts ($KOFA)
                    <ul class="main-roadmap__sidelist">
                        <li class="main-roadmap__sidelist-item">CEX Listings and Marketing</li>
                        <li class="main-roadmap__sidelist-item">Governance Token Launch on SOL ($CMETA)</li>
                    </ul>
                </li>

                <li class="main-roadmap__list-item">Bridge BSC, ETH Smart Contracts to Solana <br> Contract
                    <ul class="main-roadmap__sidelist">
                        <li class="main-roadmap__sidelist-item">Social Media Marketing Pushü</li>
                    </ul>
                </li>

                <li class="main-roadmap__list-item">10K Telegram Members</li>
                <li class="main-roadmap__list-item">10K Twitter Followers</li>
            </ul>
            <button class="main-roadmap__morebtn" type="button">
                <span class="main-roadmap__morebtn-text">More</span>
                <span class="main-roadmap__morebtn-icon"></span>
            </button>
            </div>

            {{!-- Third --}}
            <div class="main-roadmap__content">
                <h3 class="main-roadmap__title">
                    Q3<br>
                    <span>Guardians of Lost Worlds Released <br> to Public (PC)</span>
                </h3>
                <ul class="main-roadmap__list">
                    <li class="main-roadmap__list-item">
                        Implement In-Game Staking ($KOFA Rewards)
                    </li>
                    <li class="main-roadmap__list-item">
                        In-Game NFT Released
                        <ul class="main-roadmap__sidelist">
                            <li class="main-roadmap__sidelist-item">SANKOFA Sidechain on Test Net</li>
                        </ul>
                    </li>
                    <li class="main-roadmap__list-item">
                        Fiat On-Ramp Added
                        <ul class="main-roadmap__sidelist">
                        <li class="main-roadmap__sidelist-item">
                            Gameplay Battle Mode Introduced
                        </li>
                        <li class="main-roadmap__sidelist-item">
                            Marketplace Introduced
                        </li>
                        <li class="main-roadmap__sidelist-item">
                            CEX Listings and Marketing
                        </li>
                    </ul>
                    </li>
                </ul>
            </div>

            {{!-- Fourth --}}
            <div class="main-roadmap__content">
                <h3 class="main-roadmap__title">
                    Q4<br>
                    <span>SANKOFA Mainnet Launch</span>
                </h3>
                <ul class="main-roadmap__list">
                    <li class="main-roadmap__list-item">
                        Migrate Guardians of Lost Worlds to SANKOFA Sidechain
                        <ul class="main-roadmap__sidelist">
                            <li class="main-roadmap__sidelist-item">CEX Listings & Marketing</li>
                            <li class="main-roadmap__sidelist-item">Virtual Arts Studio Introduced</li>
                            <li class="main-roadmap__sidelist-item">Mobile Beta Gameplay Revealed</li>
                            <li class="main-roadmap__sidelist-item">CMETA DEX Introduced: FORGE</li>
                        </ul>
                    </li>
                    <li class="main-roadmap__list-item">
                        Multi-Network Implementation
                            <ul class="main-roadmap__sidelist">
                                <li class="main-roadmap__sidelist-item">
                                VR Game Dev Begins
                                </li>
                            </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="roadmap-lines">
        <!-- LINE 1 -->
        <svg viewBox="0 0 341 1529" class="line line-purple-1">
            <defs>
                <linearGradient id="g-purple-1" x1="156.389" y1="-69.186" x2="156.389" y2="1504.81">
                    <stop stop-color="#7941F3"/>
                    <stop offset="1" stop-color="#5B22D6"/>
                </linearGradient>
            </defs>

            <path
                class="flow" 
                stroke="url(#g-purple-1)"
                d="M0.389099 0.313965L147.569 182.676C279.53 346.182 272.571 581.482 131.179 736.904C-19.7821 902.844 -16.1885 1157.42 139.396 1319.03L340.389 1527.81"
            />
        </svg>

        <!-- LINE 2 -->
        <svg viewBox="0 0 343 1562" class="line line-blue-1">
            <defs>
                <linearGradient id="g-blue-1" x1="144.441" y1="-53.2651" x2="144.441" y2="1520.73">
                    <stop stop-color="#3A88FD"/>
                    <stop offset="1" stop-opacity="0.2"/>
                </linearGradient>
            </defs>

            <path
                class="flow"
                stroke="url(#g-blue-1)"
                d="M0.441467 0.234863L99.2738 186.125C116.207 217.974 137.96 247.015 163.762 272.221C281.503 387.238 303.239 568.734 215.987 708.301L177.44 769.959C161.242 795.87 140.927 818.967 117.296 838.341C-17.4584 948.815 -20.2876 1154.01 111.37 1268.16L131.946 1286C149.297 1301.04 164.889 1318 178.422 1336.56L341.941 1560.73"
            />
        </svg>


        <!-- LINE 3 -->
        <svg viewBox="0 0 287 1570" class="line line-cyan-1">
            <defs>
                <linearGradient id="g-cyan-1" x1="111.948" y1="-48.7788" x2="111.948" y2="1525.22">
                    <stop stop-color="#6FDFF7" stop-opacity="0.3"/>
                    <stop offset="0.5" stop-color="#6FDFF7" stop-opacity="0.7"/>
                    <stop offset="1" stop-color="#6FDFF7" stop-opacity="1"/>
                </linearGradient>
            </defs>
            <path
                class="flow"
                stroke="url(#g-cyan-1)"
                d="M0.448364 0.221191L97.5565 196.903C111.248 224.633 128.457 250.483 148.757 273.813C268.172 411.048 266.391 615.818 144.608 750.955L88.1791 813.572C-19.4686 953.246 -23.1056 1146.89 79.2216 1290.51L95.333 1313.12L286.448 1569.22"
            />
        </svg>

        <!-- LINE 4 -->
        <svg viewBox="0 0 325 1510" class="line line-cyan-2">
            <defs>
                <linearGradient id="g-cyan-2" x1="181.569" y1="-79.3618" x2="181.569" y2="1418.79">
                    <stop stop-color="#6FDFF7" stop-opacity="0.3"/>
                    <stop offset="0.5" stop-color="#6FDFF7" stop-opacity="0.8"/>
                    <stop offset="1" stop-color="#6FDFF7" stop-opacity="1"/>
                </linearGradient>
            </defs>
            <path
                class="flow"
                stroke="url(#g-cyan-2)"
                d="M0.359497 0.347656L187.807 194.237C310.339 352.672 303.359 575.733 171.161 726.196L157.772 741.435L139.442 767.047C36.4635 910.933 37.6248 1104.71 142.321 1247.35L324.321 1508.85"
            />
        </svg>


        <!-- LINE 5 -->
        <svg viewBox="0 0 328 1547" class="line line-purple-2">
            <defs>
                <linearGradient id="g-purple-2" x1="123.127" y1="-63.2275" x2="123.127" y2="1496.77">
                    <stop stop-color="#7941F3"/>
                    <stop offset="1" stop-color="#5B22D6"/>
                </linearGradient>
            </defs>

            <path
                class="flow"
                stroke="url(#g-purple-2)"
                d="M5.12689 0.272461L148.405 220.632C254.258 383.432 238.241 596.901 109.28 742.083C-39.3079 909.36 -35.2819 1162.49 118.55 1324.96L327.627 1545.77"
            />
        </svg>


        <!-- LINE 6 -->
        <svg viewBox="0 0 315 1561" class="line line-blue-2">
            <defs>
                <linearGradient id="g-blue-2" x1="123.457" y1="-50.2983" x2="123.457" y2="1509.7">
                    <stop stop-color="#3A88FD"/>
                    <stop offset="1" stop-opacity="0.2"/>
                </linearGradient>
            </defs>

            <path
                class="flow"
                stroke="url(#g-blue-2)"
                d="M0.457458 0.20166L82.0872 185.273C96.5281 218.013 115.2 248.718 137.626 276.603C246.551 412.046 258.057 601.513 166.322 749.142L131.996 804.383L98.2984 848.644C-0.704637 978.685 8.31093 1161.12 119.653 1280.77C131.249 1293.23 141.882 1306.56 151.457 1320.63L314.457 1560.2"
            />
        </svg>

    </div>

</section>