<section class="main-media">
    <div class="main-media__wrapper">
        <h3 class="main-media__headline">Questions</h3>
        <h2 class="main-media__title">Social media</h2>
        <div class="swiper main-media__swiper">


            <div class="swiper-wrapper main-media__swiper-wrapper">

                <div class="swiper-slide main-media__swiper-slide">
                    <a class="main-media__swiper-link" href="https://X.com" target="_blank">
                        <img data-src="./img/main/media/main-media-image-1.webp" loading="lazy">
                    </a>
                </div>

                <div class="swiper-slide main-media__swiper-slide">
                    <a class="main-media__swiper-link" href="https://telegram.com" target="_blank">
                        <img data-src="./img/main/media/main-media-image-2.webp" loading="lazy">
                    </a>
                </div>

                <div class="swiper-slide main-media__swiper-slide">
                    <a class="main-media__swiper-link" href="https://youtube.com" target="_blank">
                        <img data-src="./img/main/media/main-media-image-3.webp" loading="lazy">
                    </a>
                </div>

                <div class="swiper-slide main-media__swiper-slide">
                    <a class="main-media__swiper-link" href="https://discord.com" target="_blank">
                        <img data-src="./img/main/media/main-media-image-4.webp" loading="lazy">
                        <svg class="main-media__swiper-link__icon-star"><use href="#icon-Star"></use></svg>
                    </a>
                </div>

            </div>
        </div>

        <img class="main-media__lines-background" data-src="./img/main/media/main-media-lines.png" alt="space background" loading="lazy">
        <img class="main-media__blur-1" data-src="./img/main/media/main-media-blur-1.webp" alt="background purple" loading="lazy">
        <img class="main-media__blur-2" data-src="./img/main/media/main-media-blur-2.webp" alt="background purple" loading="lazy">
        <img class="main-media__blur-3" data-src="./img/main/media/main-media-blur-3.webp" alt="background purple" loading="lazy">
    </div>
</section>