<section class="main-hero">
    <div class="main-hero__wrapper">
        <div class="main-hero__content">
            <h2 class="main-hero__content-headline">Crafty Metaverse</h2>
            <p class="main-hero__content-phrase">A SHARED, IMMERSIVE MULTI-BLOCKCHAIN BASED <span class="main-hero__content-phrase__span"><svg class="main-hero__icon-star"><use href="#icon-Star"></use></svg></span> METAVERSE <span class="main-hero__content-phrase__span mobile"><svg class="main-hero__icon-star"><use href="#icon-Star"></use></svg></span> ECOSYSTEM</p>
            {{> components/invest-button label="Invest Now" className="main-hero__button" }}
        </div>
    </div>
    <img class="main-hero-background" src="../../img/main/hero/main-hero-background.webp" alt="space background" loading="eager">
    <img class="main-hero__blur-purple" src="../../img/main/hero/main-hero-blur-purple.webp" alt="background purple" loading="eager">
    <img class="main-hero__blur-elipse-pink" src="../../img/main/hero/main-hero-blur-elipse-pink.webp" alt="background purple" loading="eager">
    <img class="main-hero__blur-elipse-blue" src="../../img/main/hero/main-hero-blur-elipse-blue.webp" alt="background purple" loading="eager">
</section>