<section class="main-team">
    <div class="main-team__wrapper">
        <h3 class="main-team-headline">Who we are</h3>
        <h2 class="main-team-title">Our team</h2>

        <div class="main-team__content">
            {{!-- person-1 --}}
            <div class="main-team__person person-1">
                <img class="main-team__person-image" data-src="/img/main/team/main-team-image-1.webp" alt="space background" loading="lazy">
                <p class="main-team__person-role">CTO/Creative Director</p>
                <p class="main-team__person-name">STAN</p>
                <div class="main-team__person-socials">
                    <a class="main-team__person-socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-facebook"><use href="#icon-facebook"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://X.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-twitter"><use href="#icon-twitter"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-instagram"><use href="#icon-instagram"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-linkedin"><use href="#icon-linkedin"></use></svg></a>
                </div>
            </div>
            {{!-- person-2 --}}
            <div class="main-team__person person-2">
                <img class="main-team__person-image-mobile" data-src="/img/main/team/main-team-image-2.webp" alt="space background" loading="lazy">
                <p class="main-team__person-role">Chief Financial Officer</p>
                <p class="main-team__person-name">Kwasi</p>
                <div class="main-team__person-socials">
                    <a class="main-team__person-socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-facebook"><use href="#icon-facebook"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://X.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-twitter"><use href="#icon-twitter"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-instagram"><use href="#icon-instagram"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-linkedin"><use href="#icon-linkedin"></use></svg></a>
                </div>
                <img class="main-team__person-image" data-src="/img/main/team/main-team-image-2.webp" alt="space background" loading="lazy">
            </div>
            {{!-- person-3 --}}
            <div class="main-team__person person-3">
                <img class="main-team__person-image" data-src="/img/main/team/main-team-image-3.webp" alt="space background" loading="lazy">
                <p class="main-team__person-role">COO/Marketing Director</p>
                <p class="main-team__person-name">Kwame</p>
                <div class="main-team__person-socials">
                    <a class="main-team__person-socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-facebook"><use href="#icon-facebook"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://X.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-twitter"><use href="#icon-twitter"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-instagram"><use href="#icon-instagram"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-linkedin"><use href="#icon-linkedin"></use></svg></a>
                </div>
            </div>
            {{!-- person-4 --}}
            <div class="main-team__person person-4">
                <div class="main-team__person-image-wrapper-mobile">
                    <img class="main-team__person-image" data-src="/img/main/team/main-team-image-4.webp" alt="space background" loading="lazy">
                    <svg class="main-team-icon-star"><use href="#icon-Star"></use></svg>
                </div>
                <p class="main-team__person-role">CEO/Developer</p>
                <p class="main-team__person-name">Kojo</p>
                <div class="main-team__person-socials">
                    <a class="main-team__person-socials-link" href="https://facebook.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-facebook"><use href="#icon-facebook"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://X.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-twitter"><use href="#icon-twitter"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-instagram"><use href="#icon-instagram"></use></svg></a>
                    <a class="main-team__person-socials-link" href="https://linkedin.com" target="_blank" rel="noopener noreferrer"><svg class="main-team-icon icon-linkedin"><use href="#icon-linkedin"></use></svg></a>
                </div>
                <div class="main-team__person-image-wrapper">
                    <img class="main-team__person-image" data-src="/img/main/team/main-team-image-4.webp" alt="space background" loading="lazy">
                    <svg class="main-team-icon-star"><use href="#icon-Star"></use></svg>
                </div>
            </div>
        </div>
    </div>



    <div class="main-team__roadlines">
        {{!-- line-1 --}}
        <svg viewBox="0 0 1915 818" class="line main-team-line-1">
            <defs>
                <linearGradient id="g-purple-2" x1="-201.529" y1="51.3571" x2="2664.13" y2="763.187">
                    <stop stop-color="#7A42F4"/>
                    <stop offset="0.0001" stop-color="#7A42F4"/>
                    <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
                </linearGradient>
            </defs>

            <path class="flow"
                opacity="0.7"
                stroke="url(#g-purple-2)"
                stroke-width="4"
                stroke-dasharray="1 32"
                d="M-95.9646 122.88L24.8101 236.202C286.29 481.546 697.151 468.466 942.496 206.986C1187.84 -54.4934 1598.7 -67.5737 1860.18 177.77L2539.91 815.558"
            />
        </svg>
 
        {{!-- line-2 --}}
        <svg viewBox="0 0 1915 818" class="line main-team-line-2">
            <defs>
                <linearGradient id="g-purple-4" x1="-204.377" y1="51.3573" x2="2661.28" y2="763.187">
                    <stop stop-color="#7A42F4"/>
                    <stop offset="0.0001" stop-color="#7A42F4"/>
                    <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
                </linearGradient>
            </defs>

            <path class="flow"
                opacity="0.7"
                stroke="url(#g-purple-4)"
                stroke-width="4"
                stroke-dasharray="1 32"
                d="M-98.812 122.88L21.9628 236.202C283.442 481.546 694.304 468.466 939.648 206.986C1184.99 -54.4932 1595.85 -67.5736 1857.33 177.771L2537.07 815.558"
            />
        </svg>


        {{!-- line-3 --}}
        <svg viewBox="0 0 1915 818" class="line main-team-line-3">
        <defs>
            <linearGradient id="g-purple-3" x1="-207.358" y1="51.3571" x2="2658.3" y2="763.187">
                <stop stop-color="#7A42F4"/>
                <stop offset="0.0001" stop-color="#7A42F4"/>
                <stop offset="1" stop-color="#E64AFF" stop-opacity="0.38"/>
            </linearGradient>
        </defs>

        <path class="flow"
            opacity="0.7"
            stroke="url(#g-purple-3)"
            stroke-width="4"
            stroke-dasharray="1 32"
            d="M-101.794 122.88L18.9811 236.202C280.461 481.546 691.322 468.466 936.667 206.986C1182.01 -54.4934 1592.87 -67.5738 1854.35 177.77L2534.08 815.558"
        />
        </svg>

    </div>

    <img class="main-team__lines-background" data-src="/img/main/team/main-team-lines.webp" alt="space background" loading="lazy">
    <img class="main-team__blur-blue" data-src="/img/main/team/main-team-blur-blue.webp" alt="background purple" loading="lazy">
    <img class="main-team__blur-pink" data-src="/img/main/team/main-team-blur-pink.webp" alt="background purple" loading="lazy">
</section>