<section class="main-studio">
    <div class="main-studio__wrapper">
        <div class="main-studio__content">
            <div class="main-studio__content-pt1">
                <h2 class="main-studio__content-title">Virtual Arts Studio</h2>
                <p class="main-studio__content-phrase mobile">Virtual Arts Studio where you can enhance your creativity by creating digital arts inspired by your game</p>
                {{> components/invest-button label="Create" className="main-studio__button" }}
                <svg class="main-studio__icon-star"><use href="#icon-Star"></use></svg>
            </div>

            <div class="main-studio__content-pt2">
                <p class="main-studio__content-phrase">Virtual Arts Studio where you can enhance your creativity by creating digital arts inspired by your game</p>
            </div>
        </div>
    </div>
    <div class="main-studio__image-container">
        <img class="main-studio__image" data-src="./img/main/studio/main-studio-img.webp" alt="space background" loading="lazy">
    </div>
</section>