/* --------------------------
   Plus Jakarta Sans
-------------------------- */
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("@fonts/PlusJakartaSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("@fonts/PlusJakartaSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("@fonts/PlusJakartaSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("@fonts/PlusJakartaSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* --------------------------
   Helios
-------------------------- */
@font-face {
  font-family: "HeliosExtC";
  src: url("@fonts/HeliosExtC-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HeliosBlackC";
  src: url("@fonts/HeliosBlackC.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* --------------------------
   Gilroy
-------------------------- */
@font-face {
  font-family: "Gilroy";
  src: url("@fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* --------------------------
   Mandatory Plaything
-------------------------- */
@font-face {
  font-family: "Mandatory Plaything";
  src: url("@fonts/MandatoryPlaything.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
