@use "@scss/utils/variables";
@use "@scss/utils/reset";
@use "@scss/fonts/fonts";
@use "@scss/utils/animations";

@use "@scss/pages/main-hero";
@use "@scss/pages/main-about";
@use "@scss/pages/main-roadmap";


@use "@scss/components/invest-button";