@use "@scss/utils/variables";
@use "@scss/utils/reset";
@use "@scss/fonts/fonts";
@use "@scss/utils/animations";

@use "@scss/pages/main-hero";
@use "@scss/pages/main-about";
@use "@scss/pages/main-roadmap";
@use "@scss/pages/main-brands";
@use "@scss/pages/main-recources";
@use "@scss/pages/main-game";
@use "@scss/pages/main-explore";
@use "@scss/pages/main-studio";
@use "@scss/pages/main-team";
@use "@scss/pages/main-faq";
@use "@scss/pages/main-media";

@use "@scss/components/invest-button";
@use "@scss/components/header";
@use "@scss/components/mobile-menu";
@use "@scss/components/banners";
@use "@scss/components/footer";